.bg-hero{
    background-image: url('../img/hero.svg');
    position: relative; /* Ensure the parent is positioned */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.748); /* White overlay with opacity */
    z-index: 1; /* Keep overlay above the background */
}

.bg-hero > * {
    position: relative; /* Ensure content appears above the overlay */
    z-index: 2;
}
.bg-bg2{
    background-image: url('../img/bg-2.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: grayscale(100%); /* Hanya untuk latar belakang */

}

.bg-bg2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.748);
    z-index: 1;
}

.bg-bg2 > * {
    position: relative;
    z-index: 2;
}

