body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color:white;
    color:black;
}

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700; /* You can adjust the weight from 100 to 900 */
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400; /* Regular weight */
}
